<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-autowire="byName">
  <bean id="myDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName">
      <value>${driverClassName}</value>
    </property>	
    <property name="url">
      <value>${url}</value>
    </property>
    <property name="username">
      <value>${user}</value>
    </property>
    <property name="password">
      <value>${password}</value>
    </property>
  </bean>

  <bean id="dataSourceManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    <property name="dataSource">
      <ref local="myDataSource" />
    </property>
  </bean>
		
  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="location">
      <value>file:settings.ini</value>
    </property>
  </bean>
  
  <bean id="httpServer" class="com.cdyweb.tc.comm.HttpServer" factory-method="getInstance">
    <property name="httpdocs">
      <value>${httpdocs}</value>
    </property>
  </bean>

  <bean id="orm" class="com.cdyweb.tc.jdbc.ORM">
    <property name="dataSource">
      <ref local="myDataSource" />
    </property>
  </bean>
  
  <bean id="i2c" class="com.vendor.web4robot.USBI2C" factory-method="getInstance">
    <property name="portName">
      <value>COM10</value>
    </property>
  </bean>
  
  <bean id="relay1" class="com.vendor.byvac.BV4502" factory-method="getInstance">
    <constructor-arg>
      <ref local="i2c" />
    </constructor-arg>
    <constructor-arg>
      <value>A</value>
    </constructor-arg>
  </bean>
  <bean id="relay2" class="com.vendor.byvac.BV4502" factory-method="getInstance">
    <constructor-arg>
      <ref local="i2c" />
    </constructor-arg>
    <constructor-arg>
      <value>B</value>
    </constructor-arg>
  </bean>

  <bean id="sensor1" class="com.vendor.byvac.BV4235">
    <property name="i2cInterface"><ref local="i2c" /></property>
  </bean>

</beans>
